@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
} h1 {
  text-align: center;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px hsl(242, 48%, 71%);
} h1:hover {
  background-color: hsl(180, 9%, 38%);
  margin-left: 35%;
  margin-right: 35%;
  text-shadow: 2px 2px 2px rgb(205, 84, 60);
} p {
  color: hsl(0, 0%, 0%);
  text-align: center;
  line-height: 1.5em;
  margin-left: 35%;
  margin-right: 35%;
} p.talvez {
  font-style: oblique;
} p.bunito {
  font-weight: bolder;
} p:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(10, 59%, 52%);
}
