html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
div.container {
  position: absolute;
  left: calc(50vw - 130px);
  text-align: center;
  width: 260px;
}
div.card {
  border: 1px solid hsl(180, 9%, 38%);
  box-shadow: 2px 2px 5px;
  width: 117px;
  display: inline-block;
  margin: 10px 5px;
  font: 1em sans-serif;
  text-align: center;
}
div.card:hover {
  background-color: rgb(148, 146, 217);
  transition: ease-in-out 1s;
}
div.card img {
  width: 100%;
}
